//页面局部重复，异步加载
$import "./variable_gather";
//黏性定位
.sticky {
	position: -webkit-sticky;
	position: sticky;
	top: 0;
}
.fixed {
	position: fixed;
	top: 0;
}
//宽高均为100%(绝对定位元素)
.ps-wid-hei-100{
	width: 100%;
	height: 100%;
}
//模拟placeholder
.modify-field{
	min-height: 48px;
	line-height: 48px;
	background-color: $bg-white;
	.modify-placeholder{
		color: #888;
	}
}
//flex布局模拟
.modify-flex{
	display: flex;
	width: 105px;
}
//两个字凑出2个空格，对齐4个字
.word-space{
	letter-spacing: 30px;
}
.bg-white{
	background-color: $bg-white;
}
.visible-hid{
	visibility: hidden;
}
//详情title
.header-title{
	line-height: 2;
	.relative();
	.line-two();
	.font-dpr(16px);
	&::before{
		.abso-y-center();
		display: block;
		content: " ";
		width: .1rem;
		height: 70%;
		background-color: $fontBluer;
	}
	span{
		margin-left: .3rem;
	}
}


// 需求列表一条项样式
.dm-item-field {
	overflow: hidden;
	margin: .15rem 0;
	label {
		float: left;
		margin-right: .04rem;
		min-width: 1.5rem;
		text-align: justify;
		line-height: 1.5;
		color: $font-darkest-white;
	}
	span {
		display: block;
		text-align: left;
		overflow: hidden;
		word-break: normal;
		word-wrap: break-word;
		line-height: 1.5;
		color: $font-darker-white;
	}
}

.border-btm {
	border-bottom: 1px solid $theme-border;
}

.txt-xbiger {
	.font-dpr(18px);
}

.txt-xbig {
	.font-dpr(16px);
}

.txt-big {
	.font-dpr(15px);
}
.txt-small {
	.font-dpr(14px);
}
.txt-xsmall {
	.font-dpr(11px);
}

.color-blue50 {
	color: #82c6f3;
}
.color-blue100 {
	color: #82d5f2;
}
.color-blue150 {
	color: #83d4f2;
}
.color-blue200 {
	color: #88d7f4;
}

.color-gray9 {
	color: #999;
}
.color-gray6 {
	color: #666;
}
.color-gray3 {
	color: #333;
}


.btn-single {
	height: auto;
	padding: .26rem 0;
	.txt-big();
	color: #fff;
	border-radius: 8px;
	border-right: 1px solid $theme-border;
	letter-spacing: 1px;
	&.pink {
		background: linear-gradient(top, #fb9987, #fa8c90, #f97d99);
	}
	&.blue {
		background: linear-gradient(top, #84daf2, #83cff3, #82c6f3);
	}
	box-shadow: 4px 5px 8px #d2d2d2;
}
.btn-group {
	.btn-multi-first {
		width: 80%;
		height: auto;
		padding: .26rem 0;
		.txt-big();
		color: #fff;
		border-radius: 8px;
		border-right: 1px solid $theme-border;
		letter-spacing: 1px;
		background: linear-gradient(top, #fb9987, #fa8c90, #f97d99);
		box-shadow: 4px 5px 8px #d2d2d2;

	}
	.btn-multi-last {
		padding: .26rem 0;
		width: 80%;
		margin-left: 20%;
		.txt-big();
		border-radius: 8px;
		color: #fff;
		height: auto;
		letter-spacing: 1px;
		background: linear-gradient(top, #84daf2, #83cff3, #82c6f3);
		box-shadow: 4px 5px 8px #d2d2d2;
	}
}


// 动态头像配置
.avatar {
	width: 1.1rem !important;
	height: 1.1rem !important;
	line-height: 1.1rem !important;
	border-radius: 50%;
	&.img_default {
		background: url("http://aplus-img.img-cn-beijing.aliyuncs.com/20170816214350_PfKufVW7YT2psMGjEbQ.png") no-repeat center center;
		background-size: 100% 100%;
	}
	&.img_1 {
		background: url("http://aplus-img.img-cn-beijing.aliyuncs.com/20170816214440_rcBTig4UsJRhNsigoyt.png") no-repeat center center;
		background-size: 100% 100%;
	}
	&.img_2 {
		background: url("http://aplus-img.img-cn-beijing.aliyuncs.com/20170816214507_d8g6S2gUMIwXcIp13er.png") no-repeat center center;
		background-size: 100% 100%;
	}
}
